<div class="well navtitle">
    <h2 class="modal-title">Навигация</h2>
    <ul class="nav list-group">
        <li class="">
            <a href="{{ path('admin_menu_list') }}">
                <i class="glyphicon glyphicon-th-list"></i>
                Меню сайта
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_page_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Страницы сайта
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_publication_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Публикации
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_event_list') }}">
                <i class="glyphicon glyphicon-info-sign"></i>
                События
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_specialty_list') }}">
                <i class="glyphicon glyphicon-info-sign"></i>
                Специальности
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_category_list') }}">
                <i class="glyphicon glyphicon-info-sign"></i>
                Категории
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_slidebar_list') }}">
                <i class="glyphicon glyphicon-picture"></i>
                Слайдбар
            </a>
        </li>
        <li class="">
            <a href="#">
                <i class="glyphicon glyphicon-picture"></i>
                Баннеры
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_partner_list') }}">
                <i class="glyphicon glyphicon-user"></i>
                Партнеры
            </a>
        </li>

        <li class="">
            <a href="{{ path('admin_user_list') }}">
                <i class="glyphicon glyphicon-user"></i>
                Пользователи
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_testquestion_list') }}">
                <i class="glyphicon glyphicon-th-list"></i>
                Опросы
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_stats_list') }}">
                <i class="glyphicon glyphicon-stats"></i>
                статистика
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_stats_list') }}">
                <i class="glyphicon glyphicon-stats"></i>
                ---------------------------
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_course_list') }}">
                <i class="glyphicon glyphicon-list-alt"></i>
                Курсы
            </a>
        </li>
    </ul>
</div>