{% extends "AdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li><a href="{{ path('admin_main') }}">Домой</a> <span class="divider"></span></li>
        <li><a href="{{ path('admin_publication_list') }}">Новости</a> <span class="divider"></span></li>
        <li class="active">Добавление<span class="divider"></span></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <button class="btn btn-warning preview-content" type="button" formtarget="_blank" >Предпросмотр</button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $("#publication_title").syncTranslit({
                destination: "publication_slug",
                caseStyle: "lower",
                urlSeparator: "_"
            });

            $('.preview-content').click(function () {
                var submitMe = $('form');
                submitMe.attr('action',"{{ path('preview_publication') }}"); // Remember to change me
                submitMe.attr('method',"post");
                submitMe.attr('enctype', "multipart/form-data");
                submitMe.attr('target', '_blank');
                submitMe.submit();
            });
        });
    </script>
{% endblock %}