{% extends "AdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li><a href="{{ path('admin_main') }}">Домой</a> <span class="divider"></span></li>
        <li><a href="{{ path('admin_publication_list') }}">Новости</a> <span class="divider"></span></li>
        <li class="active">Изменение<span class="divider"></span></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        {% if item.preview.path is defined %}
            <div class="text-right">
            <img src="{{ item.preview.path }}" style="max-width: 200px; display: inline-block" class="thumbnail">
            </div>
        {% endif %}
        {% if item.video.path is defined %}
            <div style="text-align: right">
                <video controls style="width: 300px;">
                    <source src="{{ item.video.path }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <br />
        {% endif %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <button class="btn btn-warning preview-content" type="button" formtarget="_blank" >Предпросмотр</button>
        <br />
        {{ render(controller('AdminBundle:Publication:galeryList',{'id' : item.id })) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $("#publication_title").syncTranslit({
                destination: "publication_slug",
                caseStyle: "lower",
                urlSeparator: "_"
            });

            $('.preview-content').click(function () {
                var submitMe = $('form');
                submitMe.attr('action',"{{ path('preview_publication') }}"); // Remember to change me
                submitMe.attr('method',"post");
                submitMe.attr('enctype', "multipart/form-data");
                submitMe.attr('target', '_blank');
                submitMe.submit();
                submitMe.attr('action',""); // Remember to change me
                submitMe.attr('method',"post");
                submitMe.attr('enctype', "multipart/form-data");
                submitMe.attr('target', '');
            });
        });
    </script>
{% endblock %}
