{% extends "AdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li><a href="{{ path('admin_main') }}">Домой</a> <span class="divider"></span></li>
        <li><a href="{{ path('admin_publication_list') }}">Новости</a> <span class="divider"></span></li>
        <li class="active">Изменение<span class="divider"></span></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        {% if item.preview.path is defined %}
            <div class="text-right">
            <img src="{{ item.preview.path }}" style="max-width: 200px; display: inline-block" class="thumbnail">
            </div>
        {% endif %}
        {% if item.video.path is defined %}
            <div style="text-align: center">
                <video controls style="width: 100%;">
                    <source src="{{ publication.video.path }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        {{ render(controller('AdminBundle:Publication:galeryList',{'id' : item.id })) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $("#publication_title").syncTranslit({
                destination: "publication_slug",
                caseStyle: "lower",
                urlSeparator: "_"
            });
        });
    </script>
{% endblock %}
