    <div class="">
        <h3>Гелерея публикации</h3>
        <div class="row">
            {% for image in galery %}
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <img src="{{ image.image.thumbnail }}" alt="{{ image.title }}" title="{{ image.title }}">
                        <div class="caption">
                            <h4>{{ image.title }}</h4>
                            {#<p><a href="{{ path('admin_publication_edit_galery_remove',{'id' : image.id}) }}" class="btn btn-danger" role="button">Удалить</a></p>#}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <form method="post" enctype="multipart/form-data" class="form-horizontal" action="{{ path('admin_publication_edit_galery_save',{'id' : publication.id }) }}">
            <div class="form-group">
                <label class="col-sm-4 control-label required">Название файла</label>
                <div class="col-sm-8">
                    <input type="text" class="title form-control" name="title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label required">Выберите файл</label>
                <div class="col-sm-8">
                    <input type="file" class="file" name="file" accept="image/*" >
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
    </div>