{% extends "AdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li><a href="{{ path('admin_main') }}">Домой</a> <span class="divider"></span></li>
        <li><a href="{{ path('admin_event_list') }}">События</a> <span class="divider"></span></li>
        <li class="active">Изменение<span class="divider"></span></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.slug) }}
        {{ form_row(form.type) }}
        {{ form_row(form.allowCommentary) }}
        {{ form_row(form.specialties) }}
        {{ form_row(form.city) }}
        {{ form_row(form.adrs) }}

        {{ form_row(form.start) }}
        {{ form_row(form.timeStart) }}
        {{ form_row(form.end) }}
        {{ form_row(form.timeEnd) }}

        <div class="form-group">
                {#{{ form_widget(form.items) }}#}
            <ul class="items" data-prototype="{{ form_widget(form.items.vars.prototype)|e }}">
                {% for item in form.items %}
                    <li>
                        {{ form_widget(item) }}
                    </li>
                {% endfor %}
            </ul>
            {#<div class="text-right">#}
                {#<a href="#" class="btn btn-primary add_tag_link">Добавить дату</a>#}
            {#</div>#}
        </div>

        {{ form_row(form.partners) }}
        {{ form_row(form.sponsors) }}
        {{ form_row(form.theses) }}

        {{ form_row(form.body) }}
        {{ form_row(form.registerIframe) }}
        {{ form_row(form.theses) }}
        {{ form_row(form.register) }}
        {{ form_row(form.digest) }}
        {{ form_row(form.enabled) }}

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<div class="btn btn-danger remove-btn"><a href="#">&times;</a></div>');
            $tagFormLi.append($removeFormA);
            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $tagFormLi.remove();
            });
        }

        function addTagForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var index2 = $collectionHolder.data('index');
            if (index2 == 0){
                index2 = 2;
            }
//            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__label__/g, 'Дата: '+index2).replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            $collectionHolder.data('index2', index2 + 1);
            var $newFormLi = $('<li></li>').append(newForm);
            addTagFormDeleteLink($newFormLi);
            $newLinkLi.before($newFormLi);

        }

        $(document).ready(function(){
            $("#event_title").syncTranslit({
                destination: "event_slug",
                caseStyle: "lower",
                urlSeparator: "_"
            });

            var $collectionHolder;

            var $addTagLink = $('<a href="#" class="btn btn-primary add_tag_link">Добавить дату</a>');
            var $newLinkLi = $('<li class="text-right"></li>');
            $newLinkLi.append($addTagLink);


            $collectionHolder = $('.items');
            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });

            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                e.preventDefault();
                addTagForm($collectionHolder, $newLinkLi);
            });

        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        ul.items{
            list-style: none;
        }
        li .form-group {
            margin-left: -45px !important;
        }
        ul.items li:not(:last-child){
            border-top: 1px solid #CCC;
            padding-top: 15px;
        }
        .items li{
            position: relative;
        }
        .remove-btn{
            position: absolute;
            right: 50px;
            top: 50px;
        }
        .remove-btn a{
            color: #FFF;
            text-decoration: none;
        }
    </style>
{% endblock %}