{% extends "AdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li><a href="{{ path('admin_main') }}">Домой</a> <span class="divider"></span></li>
        <li class="active"><a href="{{ path('admin_event_list') }}">События</a> <span class="divider"></span></li>
        <div style="float: right">
            <a href="{{ path('admin_event_add') }}">Добавить</a> <span class="divider"></span>
        </div>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline" method="GET">
                <input type="text" class="form-control" placeholder="ID" name="id" value="{{ searchId }}">
                <input type="text" class="form-control" placeholder="Поиск" name="search" value="{{ search }}">
                <select class="form-control" name="type">
                    <option {{ searchType == '1' ? 'selecteed="selected' : '' }}value="0">Все категории</option>
                    <option {{ searchType == '1' ? 'selecteed="selected' : '' }}value="SCHOOL">Школы</option>
                    <option {{ searchType == '1' ? 'selecteed="selected' : '' }}value="CONGRESS">Конгрессы</option>
                    <option {{ searchType == '1' ? 'selecteed="selected' : '' }}value="PARTNER">Партнерские</option>
                </select>
                <button type="submit" class="btn btn-primary">Найти</button>
            </form>
        </div>
    </div>

    <div class="well">
        <table class="table">
            <tr>
                <th>№</th>
                <th>Заголовок</th>
                <th>Дата</th>
                <th></th>
                <th>Статус</th>
                <th class="setting">Инструменты</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>
                        {{ item.start | date('d.m.Y') }} - {{ item.end | date('d.m.Y') }}
                    </td>
                    <td></td>
                    <td>{{ item.enabled }}</td>
                    <td class="setting">
                        {% spaceless %}
                            <a href="{{ path('admin_event_edit',{'id' : item.id}) }}">
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </a>
                            &nbsp;
                            &nbsp;
                            <a href="{{ path('admin_event_remove',{'id' : item.id}) }}">
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </a>
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}