{% extends "AdminBundle::layout.html.twig" %}

{% block breadcrumb %}
<ul class="breadcrumb well">
    <li><a href="{{ path('admin_main') }}">Домой</a> <span class="divider"></span></li>
    <li><a href="{{ path('admin_file_list') }}">Файлы</a> <span class="divider"></span></li>
    <div style="float: right">
        <a href="{{ path('admin_file_add') }}">Добавить файл</a>
    </div>
</ul>
{% endblock %}

{% block content %}
    <div class="well">
        <table class="table">
            <tr>
                <th>Файл</th>
                <th>Путь</th>
                <th></th>
                <th class="setting"></th>
            </tr>
            {% for item in pagination %}
                {% if item.file.path is defined %}
                <tr>
                    <td><img  class="img-list" src="{{ item.file.path }}" /></td>
                    <td><a href="http://euat.ru/{{ item.file.path is defined ? item.file.path }}" target="_blank">{{ item.title }}</a></td>
                    <td></td>
                    <td class="setting">
                        {% spaceless %}
                            <a href="#" data-href="{{ path('admin_file_remove',{'id' : item.id}) }}" class="remove" data-toggle="modal" data-target="#confirm-delete">
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </a>
                        {% endspaceless %}
                    </td>
                </tr>
                    {% endif %}
            {% endfor%}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .img-list{
            max-width: 50px;
            max-height: 50px;
        }
    </style>
{% endblock %}