{% extends "AdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li><a href="{{ path('admin_main') }}">Домой</a> <span class="divider"></span></li>
        <li class="active"><a href="{{ path('admin_course_list') }}">Курсы</a> <span class="divider"></span></li>
        <div style="float: right">
            <a href="{{ path('admin_course_add') }}">Добавить</a> <span class="divider"></span>
        </div>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <table class="table">
            <tr>
                <th>№</th>
                <th>Заголовок</th>
                <th title="Количество всего подписавшихся на курс / Колличество прошедших обучение">Всего/ прошли</th>
                <th>Статус</th>
                <th class="setting">Инструменты</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    {#<td><a href="{{ path('admin_course_module_list',{'courseId' : item.id}) }}" title="Войти в модули курса">{{ item.title }}</a></td>#}
                    <td>{{ item.users | length }}</td>
                    <td>{{ item.userPassed | length }}</td>
                    <td>{{ item.enabled == 1 ? 'Активен' : 'Не активен' }}</td>
                    <td class="setting" style="width: 200px">
                        {% spaceless %}
                            <a href="{{ path('admin_course_statistic',{'courseId' : item.id}) }}">
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-stats"></span>
                                </button>
                            </a>
                            &nbsp;
                            &nbsp;
                            <a href="{{ path('admin_course_edit',{'id' : item.id}) }}">
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </a>
                            &nbsp;
                            &nbsp;
                            <a href="#" data-href="{{ path('admin_course_remove',{'id' : item.id}) }}" class="remove" data-toggle="modal" data-target="#confirm-delete">
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </a>
                        {% endspaceless %}
                    </td>
                </tr>
            {% endfor%}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}