{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="well">
        <table class="table">
            <tr>
                <th>№</th>
                <th>Ф.И.О.</th>
                <th>Дата начала</th>
                <th>Дата прохождения</th>
                <th>%</th>
                <th class="setting"></th>
            </tr>
            {% for rc in recordCourses %}
            <tr>
                <th>{{ rc.id }}</th>
                <th><a href="{{ path('admin_user_edit',{'id' : rc.user.id}) }}">{{ rc.user }}</a></th>
                <th>{{ rc.created | date('d.m.Y') }}</th>
                <th>{{ rc.passed != null ? rc.passed | date('d.m.Y') : ' - ' }}</th>
                <th>{{ rc.percent != null ? rc.percent~'%' : ' - '  }}</th>
                <th class="setting">
                    <a href="#" data-href="{{ path('admin_recordbook_remove',{'id' : rc.id}) }}" class="remove" data-toggle="modal" data-target="#confirm-delete">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </a>
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li><a href="{{ path('admin_main') }}">Домой</a> <span class="divider"></span></li>
        <li><a href="{{ path('admin_course_list') }}">Курсы</a> <span class="divider"></span></li>
        <li><a href="{{ path('admin_course_edit',{'id' : course.id}) }}">{{ course.title }}</a> <span class="divider"></span></li>
        <li class="active">Статистика прохождения</li>
    </ul>
{% endblock %}

