Пользователь зарегистрировался на событие
<br />
<b><a href="{{ url('event',{'url' : event.id }) }}">{{ event.title }}</a> ({{ event.start | date('d.m.Y') }})</b>

<br />
<b>Ф.И.О: </b> {{ data.fio }} <br />
<b>Место работы: </b> {{ data.place }} <br />
<b>Должность: </b> {{ data.post }} <br />
<b>Email: </b> {{ data.email }} <br />
<b>Телефон: </b> {{ data.phone }} <br />