{% set user = recordBook.user %}
{% set course = recordBook.course %}
<html>
<head>
    <style>
        .landscape {
            page: a4landscape;
            position: relative;
        }
        .portrait {
            page: a4portrait;
        }

        @page a4portrait {
            sheet-size: A4;
        }
        @page a4landscape {
            sheet-size: A4-L;
        }
        .fio{

            font-size: 18px;
            text-align: center;
            margin-top: 165px;
            margin-left: -50px;
        }
        .course-title{
            font-size: 16px;
            text-align: center;
            width: 100%;
            margin-top: 100px;
        }
        .recordbook-id{

            font-size: 18px;
            margin-top: 12px;
            margin-left: 280px;
        }
        .header{
            margin-top: -545px;
            /*margin-left: 150px;*/
        }
        .header-date{
            margin-top: 20px;
            width: 100%;
            text-align: center;
        }
        .course-price{
            margin-top: 30px;
            margin-left: 400px;
        }
        .course-price-title{
            margin-top: 5px;
            margin-left: 100px;
        }
    </style>
</head>
<body style="position: relative">
<div class="landscape" style="text-align: center">
    <img src="{{ asset('bundles/app/images/certificate.png') }}">
    {#<div class="header">"Профилактика ОНМК в популяции пациентов с ФП, новые оральные  антикоагулянты"</div>#}
    <div class="header">"{{ course.title }}"</div>
    <div class="header-date">{{ recordBook.created | date('d.m.Y') }}</div>
    <div class="fio">{{ user.lastName }} {{ user.firstName }} {{ user.surName }}</div>
    {#<div class="course-title">{{ course.title }}</div>#}
    <div class="course-price">6</div>
    <div class="course-price-title">Ассоциацией "Евразийская Ассоциация Терапевтов"</div>
    <div class="recordbook-id">EUAT0{{ recordBook.id }}</div>
</div>
</body>
</html>