{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1 class="blue-text">Образовательные онлайн курсы</h1>
    {% if page != null %}
        <div>
            {{ page | raw }}
        </div>
    {% endif %}
    <div>
        {% if is_granted('ROLE_STUDENT') %}
        {% for course in courses %}
            <div class="row">
                <div class="col-md-offset-1 col-xs-3">
                    {% if course.image.path is defined %}
                        <a href="{{ path('course_info',{'id' : course.id}) }}"><img src="{{ course.image.path }}" class="thumbnail" style="max-width: 100%"></a>
                    {% endif %}
                </div>
                <div class="col-xs-8">
                    <div class="course-title">
                        <a href="{{ path('course_info',{'id' : course.id}) }}">{{ course.title }}</a>
                    </div>
                    <p class="course-descripton">
                        {{ course.description }}
                    </p>
                    <div class="row">
                        <div class="col-xs-6">
                            {% if course.specialties | length > 0 %}
                                <div class="course-params">
                                    <b>Специальность: </b>
                                    {% for specialty in course.specialties %}
                                        <a class="sublink" href="#">
                                        {{ specialty.title }}
                                        </a>{{ specialty != course.specialties | last ? ',' : '' }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if course.author != null %}
                                <div class="course-params">
                                    <b>Автор: </b>
                                    {{ course.author }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-6">
                            {% if course.amountHour != 0 %}
                                <div class="course-params text-right" >
                                    <b>Часов прохождения: </b>
                                    {{ course.amountHour }} ч.
                                </div>
                            {% endif %}
                            {% if course.price != 0 %}
                                <div class="course-params text-right">
                                    <b>Стоимость курса: </b>
                                    {{ course.price }} руб.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}