{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1 class="blue-text">Зачетная книжка</h1>
    <div>
        <table class="table table-vertical-middle table-th-bold">
            <tr>
                <th style="width: 500px">Название курса</th>
                <th class="text-center">Кол-во модулей</th>
                <th class="text-center">Результат</th>
                <th class="text-center">Дата завершения</th>
                {#<th class="text-center">Сертификат</th>#}
            </tr>
            {% for r in recordbook %}
                {% if r.passed != null %}
                    {% set course = r.course %}
                    <tr>
                        <td style="width: 500px"><a href="{{ path('course_info', {'id' : course.id}) }}">{{ course.title }}</a></td>
                        <td class="text-center">{{ course.modules | length }}</td>
                        <td class="text-center">{{ r.percent  }}%</td>
                        <td class="text-center">{{ r.passed | date ('d.m.Y') }}</td>
                        {#<td class="text-center"><a href="{{ path('generate_certificate',{'recordBookId' : r.id }) }}">Скачать</a></td>#}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}