{% extends 'AppBundle::layout.html.twig' %}

{% block social %}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ post.title }}">
    {% if post.journal.photo.path is defined  %}
        <meta property="og:image" content="{{ post.journal.photo.path }}">
    {% endif %}
    <meta property="og:description" content="{{ post.description | anons }}">
{% endblock %}

{% block seo %}
    <title>{{ post.title }} </title>
    <meta name="description" content="{{ post.metaDescription }}"/>
    <meta name="keywords" content="{{ post.metaKeyword }}"/>
{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script src="{{ asset('bundles/admin/ckeditor/ckeditor.js') }}"></script>

    <script>
        $(document).ready(function(){
            CKEDITOR.on( 'instanceCreated', function( event ) {
                var editor = event.editor,
                        element = editor.element;

                // Customize editors for headers and tag list.
                // These editors don't need features like smileys, templates, iframes etc.
                if ( element.is( 'h1', 'h2', 'h3' ) || element.getAttribute( 'id' ) == 'taglist' ) {
                    // Customize the editor configurations on "configLoaded" event,
                    // which is fired after the configuration file loading and
                    // execution. This makes it possible to change the
                    // configurations before the editor initialization takes place.
                    editor.on( 'configLoaded', function() {

                        // Remove unnecessary plugins to make the editor simpler.
                        editor.config.removePlugins = 'colorbutton,find,flash,font,' +
                                'forms,iframe,image,newpage,removeformat,' +
                                'smiley,specialchar,stylescombo,templates';

                        // Rearrange the layout of the toolbar.
                        editor.config.toolbarGroups = [
                            { name: 'editing',		groups: [ 'basicstyles', 'links' ] },
                            { name: 'undo' },
                            { name: 'clipboard',	groups: [ 'selection', 'clipboard' ] },
                            { name: 'about' }
                        ];
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .pub-content>p>img{
            max-width: 100% !important;
            height: auto !important;
        }
        .pub-content ul{
            list-style: disc !important;
            padding-left: 20px;
        }
        .params ul,.params ol  {
            list-style: decimal !important;
        }
        .table-bordered tr td{
            padding: 5px !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        <div class="col-xs-12 col-md-4 hidden-sm hidden-xs" style="padding-left: 0">
            {{ render(controller("AppBundle:Widget:calendar" )) }}
        </div>
        <div class="col-xs-12 col-md-8" style="padding-right: 0">
            <ol class="breadcrumb">
                <li
                    itemscope
                    itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a itemprop="url" href="{{ path('homepage') }}"><span itemprop="title">Главная</span></a></li>

                <li
                    itemscope
                    itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a itemprop="url"  href="{{ path('journals') }}"><span itemprop="title">Журналы</span></a></li>
                <li
                    itemscope
                    itemtype="http://data-vocabulary.org/Breadcrumb"
                ><a itemprop="url"  href="{{ path('journal',{'journalId' : post.journal.id }) }}"><span itemprop="title">{{ post.journal.title }}</span></a></li>

                <li class="active">{{ post.title }}</li>
            </ol>
            <h1 class="blue-text">{{ post.title }}
                {% if post.file.path is defined %}
                    <a href="{{ post.file.path }}" class="btn btn-default" target="_blank">PDF</a>
                {% endif %}
            </h1>

            <div class="params">
                <b>Авторы:</b> {{ post.author }}<br />
                <b>Описание:</b>
                <div class="ck ck-desc">
                    {{ post.description | raw }}
                </div>
                {#<b>Ключевые слова:</b> {{ post.keywords }}#}
            </div>
            <br />
            <div class="pub-content ck ck-body" >{#contenteditable="true"#}
                {{ post.body | raw }}
            </div>
            <br />
            <div class="params">
                <b>Список литературы:</b>
                <div class="ck ck-owner">
                    {{ post.source | raw }}
                </div>
                {#<b>Ключевые слова:</b> {{ post.keywords }}#}
            </div>


            <div class="row row-params">
                <div class="col-xs-5" style="padding-top: 7px;">
                    {#<span style="font-size: 12px">Расказать друзьям&nbsp;&nbsp;</span>#}
                    <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                    <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter" data-counter="" style="text-align: left;"
                         data-title="{{ post.title }}"
                         data-description="{{ post.description | anons }}"
                         data-image="{{ post.journal.photo.path is defined ? post.journal.photo.path : '' }}"></div>
                </div>
                <div class="col-xs-4">

                </div>
                <div class="col-xs-3 text-right">

                </div>
            </div>

        </div>
    </div>


{% endblock %}