{% extends 'AppBundle::layout.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .pub-content>p>img{
            width: 100% !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        <div class="col-xs-4" style="padding-left: 0">
            {{ render(controller("AppBundle:Widget:calendar" )) }}
        </div>
        <div class="col-xs-8" style="padding-right: 0">
            <ol class="breadcrumb">
                <li><a href="{{ path('journals') }}">Журналы</a></li>
                <li><a href="{{ path('journal',{'journalId' : post.journal.id }) }}">{{ post.journal.title }}</a></li>
                <li class="active">Статья</li>
            </ol>
            <h1 class="blue-text">{{ post.title }}</h1>
            <div class="params">
                <b>Авторы:</b> {{ post.author }}<br />
                <b>Описание:</b> {{ post.description | raw }}<br />
                {#<b>Ключевые слова:</b> {{ post.keywords }}#}
            </div>
            <br />
            <div сlass="pub-content">
                {{ post.body | raw }}
            </div>
            <br />
            <div class="params">
                <b>Список литературы:</b> {{ post.source | raw }}<br />
                {#<b>Ключевые слова:</b> {{ post.keywords }}#}
            </div>
        </div>
    </div>


{% endblock %}