{% extends 'AppBundle::layout.html.twig' %}
{% block seo %}
    {% if category.title == 'Видео' %}
        <title>Дистанционное образование - видео онлайн: лекции, выступления, конференции - EUAT.ru</title>
        <meta name="description" content="Смотрите онлайн видео выступлений на конференциях и съездах Евразийской Ассоциации Терапевтов. После просмотра, рекомендуем записаться на оффлайн школу с получением сертификата"/>
    {% else %}
        <title>Интересные публикации и материалы для врачей - EUAT.ru</title>
        <meta name="description" content="Материалы, новости, публикации и актуальные результаты исследований Вы найдете на нашем портале. Просим ознакомиться!"/>
    {% endif %}
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li
            itemscope
            itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('homepage') }}"><span itemprop="title">Главная</span></a></li>
        {% if category.id == 2 %}
            <li
                itemscope
                itemtype="http://data-vocabulary.org/Breadcrumb">
                <a itemprop="url"  href="{{ path('page',{'url' : 'education'}) }}"><span itemprop="title">Образование</span></a></li>
        {% endif %}
        <li class="active">{{ category.title }}</li>
    </ol>
    <h1 class="blue-text">{{ category.title == 'Видео' ? 'Видео - онлайн образование' : category.title }}</h1>
    {{ render(controller("AppBundle:Widget:seopage", {'url' : app.request.requestUri } )) }}
    <div class="" id="ajax-container">
        {% for p in publications %}
            <div class="new-item row">
                {% if p.preview.path is defined %}
                    <div class="col-xs-3">
                        <a href="{{ path('publications', {'url' : p.id }) }}">
                            <img title="{{ p.title }}" alt="{{ p.title }}" src="{{ p.preview.path }}" style="width: 100%" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-9">
                        <a href="{{ path('publications', {'url' : p.id }) }}"><span class="new-item-title">{{ p.title }}</span></a>
                        <div class="new-item-anons">
                            {{ p.anons  | raw }}
                        </div>
                        <div style="color: #666; font-size: 11px;">{{ p.created | date('d.m.Y') }}</div>
                    </div>
                {% else %}
                    <div class="col-xs-12">
                        <a href="{{ path('publications', {'url' : p.id }) }}"><span class="new-item-title">{{ p.title }}</span></a>
                        <div class="new-item-anons">
                            {{ p.anons  | raw }}
                        </div>
                        <div style="color: #666; font-size: 11px;">{{ p.created | date('d.m.Y') }}</div>
                    </div>
                {% endif %}
            </div>

        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(publications) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('body').on("click", ".ajax-event", function () {
                var link = $(this).data('href');
                $.ajax({
                    url: link,
                    method: 'POST',
                    success: function (msg) {
                        $('#ajax-container').html(msg);
                    }
                });
                $('body').animate({scrollTop: $('#ajax-container').offset().top}, 1000);
            })
        })
    </script>
{% endblock %}