{% extends 'AppBundle::layout.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}

{% block seo %}
    <title>
        {% if type == null %}
            События и мероприятия для терапевтов и кардиологов: школы, конференции и съезды - EUAT.ru
        {% elseif type == 'CONGRESS' %}
            Конференции и съезды кардиологов и терапевтов 2016 - EUAT.ru
        {% elseif type == 'SCHOOL' %}
            Школы терапевтов и кардиологов 2016 - повышение квалификации для врачей - EUAT.ru
        {% elseif type == 'partner' %}
            События и мероприятия для врачей от парнеров Евразийской Ассоциации Терапевтов - EUAT.ru
        {% endif %}
    </title>

        {% if type == null %}
            <meta name="description" content="Ознакомьтесь с нашими  мероприятиями! Воспользуйтесь фильтром для поиска школы или съезда в Вашем городе!" />
        {% elseif type == 'CONGRESS' %}
            <meta name="description" content="Все съезды имеют международный статус. Во время конференций проходит конкурс на наиболее интересные доклады. По окончанию мероприятия каждому участнику вручается именной сертификат" />
        {% elseif type == 'SCHOOL' %}
            <meta name="description" content="Материалы лекций полностью соответствуют последним Национальным и Европейским рекомендациям, содержат подробные алгоритмы принятия диагностического решения, богато иллюстрированы, конкретны" />
        {% elseif type == 'partner' %}
            <meta name="description" content="Ознакомьтесь с мероприятиями наших партнеров в сфере медицины и обучения врачей от наиболее авторитетных брендов в РФ и СНГ." />
        {% endif %}

{% endblock %}
{% block content %}
    <div class="col-xs-12 col-md-4 hidden-sm hidden-xs" style="padding-left: 0; max-width: 250px">
        {{ render(controller("AppBundle:Widget:calendar" )) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">
        <ol class="breadcrumb">
            <li
                itemscope
                itemtype="http://data-vocabulary.org/Breadcrumb">
                <a itemprop="url" href="{{ path('homepage') }}"><span itemprop="title">Главная</span></a></li>
            {% if type == null %}
                <li class="active">События</li>
            {% elseif type == 'CONGRESS' %}
                <li
                    itemscope
                    itemtype="http://data-vocabulary.org/Breadcrumb"><a  itemprop="url" href="{{ path('events') }}"><span itemprop="title">События</span></a></li>
                <li class="active">Конференции и съезды</li>
            {% elseif type == 'SCHOOL' %}
                <li
                    itemscope
                    itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url"  href="{{ path('events') }}"><span itemprop="title">События</span></a></li>
                <li class="active">Школы</li>
            {% elseif type == 'partner' %}
                <li
                    itemscope
                    itemtype="http://data-vocabulary.org/Breadcrumb"><a  itemprop="url" href="{{ path('events') }}"><span itemprop="title">События</span></a></li>
                <li class="active">Партнерские события</li>
            {% endif %}
        </ol>

        {% if type == null %}
            <h1 class="blue-text">События</h1>
        {% elseif type == 'congress' %}
            <h1 class="blue-text">Конференции и съезды</h1>
        {% elseif type == 'school' %}
            <h1 class="blue-text">Школы</h1>
        {% elseif type == 'partner' %}
            <h1 class="blue-text">Партнерские события</h1>
        {% endif %}
        {{ render(controller("AppBundle:Widget:seopage", {'url' : app.request.requestUri } )) }}
        <div class="row">
            <form class="form-inline" method="GET" style="min-width: 695px">
                <div class="form-group">
                    <label style="font-weight: normal">С </label>
                    <input type="date" class="form-control" placeholder="Дата начала" style="width: 130px; font-size: 12px" name="start" value="{{ start }}">
                </div>
                <div class="form-group">
                    <label style="font-weight: normal"> по </label>
                    <input type="date" class="form-control" placeholder="Дата окончания" style="width: 130px; font-size: 12px" name="end" value="{{ end }}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Фраза поиска" name="searchtext" value="{{ text }}" style="width: 210px; font-size: 12px">
                </div>
                <button class="btn btn-primary">Фильтр</button>
                <a href="{{ path('events',{'type' : type}) }}"><button type="button" class="btn btn-danger" style="padding: 6px 12px">&times;</button></a>
            </form>
        </div>

        <div>
            {% for p in events %}
                <div class="new-item">
                    <span style="padding-right: 20px; color: #888">
                        <span class="glyphicon glyphicon-calendar"></span>
                        {{ p.start | date('d.m.Y') }}{{ p.end != null ? ' - '~p.end | date('d.m.Y') : '' }}
                    </span>
                    <br />
                    <a href="{{ path('event', {'url' : p.id }) }}"><span class="new-item-title">{{ p.title }}</span></a>
                    <div class="new-item-anons">
                        {{ p.body | anons | raw }}
                        {% if p.category != null %}
                            <div style="color: #555">
                                {{ p.category.title }}
                            </div>
                        {% endif %}
                        {% if p.registerIframe %}
                            <a href="{{ path('event', {'url' : p.id, 'number' : i.id }) }}#registerIframe"><button class="btn-sm btn-primary" type="button">Регистрация на мероприятие</button></a>
                        {% endif %}
                    </div>
                </div>
                {% for i in p.items %}
                    <div class="new-item">
                    <span style="padding-right: 20px; color: #888">
                        <span class="glyphicon glyphicon-calendar"></span>
                        {{ i.start | date('d.m.Y') }}{{ i.end != null ? ' - '~i.end | date('d.m.Y') : '' }}
                    </span>
                        <br />
                        <a href="{{ path('event', {'url' : p.id, 'number' : i.id }) }}"><span class="new-item-title">{{ p.title }}</span></a>
                        {% if is_granted('ROLE_ADMIN') %} <a href="{{ path('admin_event_edit',{'id' : p.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>{% endif %}
                        <div class="new-item-anons">
                            {{ p.body | anons | raw }}
                            {% if p.category != null %}
                                <div style="color: #555">
                                    {{ p.category.title }}
                                </div>
                            {% endif %}
                            {% if p.registerIframe %}
                                <a href="{{ path('event', {'url' : p.id, 'number' : i.id }) }}#registerIframe"><button class="btn-sm btn-primary" type="button">Регистрация на мероприятие</button></a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(events) }}
            </div>
        </div>
    </div>
{% endblock %}