{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "@AppBundle/Resources/public/less/comments.less" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}

    <style>

    </style>
{% endblock %}

{% block seo %}
    <title>{{ event.metaTitle }} </title>
    <meta name="description" content="{{ event.metaDescription }}"/>
    <meta name="keywords" content="{{ event.metaKeyword }}"/>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}

{% block social %}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ event.title }}">
    {% if event.preview.path is defined  %}
        <meta property="og:image" content="{{ event.preview.path }}">
    {% endif %}
    <meta property="og:description" content="{{ event.anons is defined ? event.anons : ''}}">
{% endblock %}


{% block content %}
    <div class="col-xs-12 col-md-4 hidden-sm hidden-xs" style="padding-left: 0">
        {{ render(controller("AppBundle:Widget:calendar" )) }}
    </div>
    <div class="col-xs-12 col-md-8" style="padding-right: 0">
        <ol class="breadcrumb">
            <li
                    itemscope
                    itemtype="http://data-vocabulary.org/Breadcrumb">
                <a itemprop="url" href="{{ path('homepage') }}"><span itemprop="title">Главная</span></a></li>
            <li
                    itemscope
                    itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ path('events') }}"><span itemprop="title">События</span></a></li>
            <li
                    itemscope
                    itemtype="http://data-vocabulary.org/Breadcrumb">
                {% if event.type == null %}
                    <a  itemprop="url" href="{{ path('events',{'type' : null }) }}"><span itemprop="title">События</span></a>
                {% elseif event.type == 'CONGRESS' %}
                    <a itemprop="url"  href="{{ path('events',{'type' : 'conference-convention' }) }}"><span itemprop="title">Конференции и съезды</span></a>
                {% elseif event.type == 'SCHOOL' %}
                    <a itemprop="url"  href="{{ path('events',{'type' : 'school' }) }}"><span itemprop="title">Школы</span></a>
                {% elseif event.type == 'PARTNER' %}
                    <a itemprop="url"  href="{{ path('events',{'type' : 'partner' }) }}"><span itemprop="title">Партнерские события</span></a>
                {% endif %}
            </li>
            <li class="active">{{ event.title }}</li>
        </ol>
        <h1 class="blue-text">{{ event.title }}{% if is_granted('ROLE_ADMIN') %} <a href="{{ path('admin_event_edit',{'id' : event.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>{% endif %}</h1>
        {{ render(controller("AppBundle:Widget:seopage", {'url' : app.request.requestUri } )) }}
        <div class="row">
            <div class="col-xs-6">
                <ul class="event-params">
                    {% if event.specialties | length > 0 %}
                        <li><b>Специальности:</b>
                            {% for s in event.specialties %}
                                {{ s.title }}{% if s != event.specialties | last %}, {% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}
                    {#{% if event.partners | length > 0 %}#}
                    {#<li><b>Партнеры:</b>#}
                    {#{% for part in event.partners  %}#}
                    {#{{ part.title }}{% if part != event.partners | last %}, {% endif %}#}
                    {#{% endfor %}#}
                    {#</li>#}
                    {#{% endif %}#}

                    {% if eventItem == null %}
                        {% if event.start != null %}
                            <li>
                                <b>Дата начала:</b>     {{ event.start | date('d.m.Y') }}
                            </li>
                        {% endif %}
                        {% if event.end != null %}
                            <li><b>Дата окончания:</b>  {{ event.end  | date('d.m.Y') }}</li>
                        {% endif %}
                    {% else %}
                        {% if eventItem.start != null %}
                            <li>
                                <b>Дата начала:</b>     {{ eventItem.start | date('d.m.Y') }}
                            </li>
                        {% endif %}
                        {% if eventItem.end != null %}
                            <li><b>Дата окончания:</b>  {{ eventItem.end  | date('d.m.Y') }}</li>
                        {% endif %}
                    {% endif %}

                    {% if eventItem == null %}
                        {% if event.timeStart != null %}
                            <li><b>Время проведения:</b>  {{ event.timeStart | date('H:i') }} {{ event.timeEnd != null ? ' - '~event.timeEnd | date('H:i') : '' }}</li>
                        {% endif %}
                    {% else %}
                        {% if eventItem.timeStart != null %}
                            <li><b>Время проведения:</b>  {{ eventItem.timeStart | date('H:i') }} {{ eventItem.timeEnd != null ? ' - '~eventItem.timeEnd | date('H:i') : '' }}</li>
                        {% endif %}
                    {% endif %}


                    {% if event.city != null %}
                        <li><b>Город:</b>           {{ event.city  }}</li>
                    {% endif %}
                    {% if event.adrs != null %}
                        <li><b>Адрес:</b>           {{ event.adrs }}</li>
                    {% endif %}
                    {% if event.contacts != null %}
                        <li><b>Контактная информация:</b> {{ event.contacts }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <hr />
        <div class="body">
            {% if event.registerIframe != null %}
                <br />
                <div class="registerIframe" id="registerIframe">
                    {{ event.registerIframe | raw }}
                </div>
                <br />
            {% endif %}

            {{ event.body | raw }}

            {% if event.sponsors | length > 0 %}
                <h3 class="title">Спонсоры:</h3>
                <div style="" class="tablerow">
                    {% for p in event.sponsors %}
                        <div class="thumbnail vcenter tablecell" style="display: inline-block; height: 70px;">
                            <img src="{{ p.image.path }}" style="max-height: 70px; max-width: 120px;" title="{{ p.title }}">
                        </div>
                        <div class="vcenter">&nbsp;</div>
                    {% endfor %}
                </div>
                <br />
                <br />
            {% endif %}
            {% if event.partners | length > 0 %}
                <h3 class="title">Партнеры события:</h3>
                {% for ps in event.partners |batch(4) %}
                    <div class="tablerow">
                        {% for p in ps %}
                            <div class="thumbnail vcenter tablecell" style="display: inline-block; height: 70px;">
                                <a href="{{ p.link }}" target="_blank">
                                    <img src="{{ p.image.path }}" style="max-height: 70px; max-width: 120px;" title="{{ p.title }}" alt="{{ p.title }}">
                                </a>
                            </div>
                            <div class="vcenter">&nbsp;</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <br />
                <br />
            {% endif %}
        </div>
        {#<br />#}
        {#<br />#}

        <br />
        {% if formTheses != null %}
            <br />
            <div style="border: 1px solid #CCC; padding: 20px">
                <div class="caption"><b>Направить тезис</b></div>
                {{ form_start(formTheses) }}
                {{ form_widget(formTheses) }}
                <input type="hidden" name="type" value="formTheses" />
                {{ form_end(formTheses) }}
            </div>
            <br />
        {% endif %}
        <br />
        {% if formRegister != null %}
            <br />
            <div style="border: 1px solid #CCC; padding: 20px">
                <div class="caption"><b>Зарегистрироваться:</b></div>
                {{ form_start(formRegister) }}
                {{ form_widget(formRegister) }}
                <input type="hidden" name="type" value="formRegister" />
                {{ form_end(formRegister) }}
            </div>
            <br />
        {% endif %}
        <div class="row">
            <noindex>
                <div class="col-xs-6 text-left">
                    {% if previousEvent is defined and previousEvent != null %}
                        {% if previousEvent.type | lower == 'congress' %}
                            {% set type = 'conference-convention' %}
                        {% else %}
                            {% set type = previousEvent.type %}
                        {% endif %}
                        <a href="{{ path('new_event', {'type' : type | lower ,'url' : previousEvent.slug } ) }}">« Назад</a> <br />
                    {% endif %}
                </div>
            </noindex>
            <noindex>
                <div class="col-xs-6 text-right">
                    {% if nextEvent is defined and nextEvent != null %}
                        {% if nextEvent.type | lower == 'congress' %}
                            {% set type = 'conference-convention' %}
                        {% else %}
                            {% set type = nextEvent.type %}
                        {% endif %}
                        <a href="{{ path('new_event', {'type' : type | lower , 'url' : nextEvent.slug } ) }}">Далее »</a> <br />
                    {% endif %}
                </div>
            </noindex>
        </div>
        <br />
        <div class="row row-params">
            <div class="col-xs-12 col-md-4" style="padding-top: 7px;">
                {#<span style="font-size: 12px">Расказать друзьям&nbsp;&nbsp;</span>#}
                <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter" data-counter="" style="text-align: left;"
                     data-title="{{ event.title }}"
                     data-description="{{ event.anons is defined ? event.anons : ''}}"
                     data-image="{{ event.preview.path is defined ? event.preview.path : '' }}"></div>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                {% if event.specialties | length > 0 %}
                    <b>Специальности:</b>
                    {% for s in event.specialties  %}
                        {{ s.title }}{% if s != event.specialties | last %},{% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-3 hidden-sm hidden-xs text-right">
                <div style="padding-top: 10px; padding-bottom: 6px">
                    <span class="glyphicon glyphicon-calendar hidden-sm hidden-xs"></span> {{ event.created | date('d.m.Y') }}
                </div>
            </div>
        </div>
        <br />
        {% if event.isAllowCommentary == true %}
            {% include '@App/Publication/comments.html.twig'  with {'comments': event.comments, 'id' : event.id, 'type': 'event' } %}
        {% endif %}
    </div>

{% endblock %}