{% extends 'AppBundle::layout.html.twig' %}
{% block seo %}
    <title>{{ page.metaTitle }} </title>
    <meta name="description" content="{{ page.metaDescription }}"/>
    <meta name="keywords" content="{{ page.metaKeyword }}"/>
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li itemprop="itemListElement"
            itemscope
            itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ path('homepage') }}"><span itemprop="name">Главная</span></a></li>

        {% if page.parent != null %}
            <li itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem"><a itemprop="name" href="{{ path('page',{'url' : page.parent.slug }) }}"><span itemprop="name">{{ page.parent.title }}</span></a></li>
        {% endif %}
        <li class="active">{{ page.title }}</li>
    </ol>
    <h1 class="blue-text">{{ page.title }}{% if is_granted('ROLE_ADMIN') %} <a href="{{ path('admin_page_edit',{'id' : page.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>{% endif %}</h1>
    <div>
        {{ page.body | raw }}
    </div>
{% endblock %}