{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "@AppBundle/Resources/public/less/comments.less" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div>
        {% if publication.preview.path is defined  %}
            <img src="{{ publication.preview.path }}" style="max-width: 250px; float: left; margin: 0 20px 10px 10px" class="img-thumbnail">
        {% endif %}
        <h1 class="blue-text">{{ publication.title }}</h1>
        {{ publication.body | raw }}
        <div class="text-left">
            <span style="font-size: 12px">Расказать друзьям&nbsp;&nbsp;</span>
            <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
            <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
            <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter="" style="text-align: left"></div>
        </div>
    </div>

    {% if publication.isAllowCommentary == true %}
        {% include '@App/Publication/comments.html.twig'  with {'comments': publication.comments, 'id' : publication.id, 'type': 'publication' } %}
    {% endif %}
{% endblock %}