{% extends 'AppBundle::layout.html.twig' %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}

{% block seo %}
    <title>Евразийская Ассоциация Терапевтов и кардиологов - это общество, оргиназующее школы, съезды и конференции в целях обучения и повышения квалификации врачей - EUAT.ru</title>
    <meta name="description" content="Запишитесь на портале ЕАТ на бесплатное обучение и повышение квалификации! Дистанционное образование и оффлайн съезды, конференции и школы для врачей"/>
{% endblock %}

{% block content %}
    <div class="col-md-4 hidden-sm hidden-xs" style="padding-left: 0">
        <img src="{{ asset('bundles/app/images/videobanner.png') }}" class="img-thumbnail" style="cursor: pointer" data-toggle="modal" data-target="#videobanner" />
        {{ render(controller("AppBundle:Widget:calendar" )) }}
    </div>
    <div class="col-md-8 col-cs-12" style="padding-right: 0">
        <h1 class="blue-text">Общество "Евразийская Ассоциация Терапевтов"</h1>
        <br />
        {% if videos | length > 0 %}
            <div class="title">ВИДЕО</div>
            {% for v in videos | slice(0,2) %}
                <div class="row new-item" style="padding-bottom: 25px">
                    {% if v.preview.path is defined %}
                    <div class="col-xs-3">
                        <img src="{{ v.preview.path }}" class="img-thumbnail" style="width: 100%" alt="{{ v.title }}" title="{{ v.title }}">
                    </div>
                    <div class="col-xs-9">
                        <a href="{{ path('publications', {'url' : v.id }) }}"><span class="new-item-title">{{ v.title }}</span></a>
                        {% if is_granted('ROLE_ADMIN') %} <a href="{{ path('admin_publication_edit',{'id' : v.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>{% endif %}
                        <div class="new-item-anons">
                            {{ v.anons  | raw }}
                        </div>
                        <div style="color: #666; font-size: 11px;">{{ v.created | date('d.m.Y') }}</div>
                    </div>
                    {% else %}
                        <div class="col-xs-12">
                            <a href="{{ path('publications', {'url' : v.id }) }}"><span class="new-item-title">{{ v.title }}</span></a>
                            {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('admin_publication_edit',{'id' : v.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>{% endif %}
                            <div class="new-item-anons">
                                {{ v.anons  | raw }}
                            </div>
                            <div style="color: #666; font-size: 11px;">{{ v.created | date('d.m.Y') }}</div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        <br />
        <div class="title">НОВОСТИ</div>
        {% for p in publications | slice(0,2) %}
            <div class="new-item">
                <div class="row">
                    {% if p.preview.path is defined %}
                        <div class="col-xs-3">
                            <a href="{{ path('publications', {'url' : p.id }) }}">
                                <img src="{{ p.preview.path }}" style="width: 100%" class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-xs-9">
                            <a href="{{ path('publications', {'url' : p.id }) }}"><span class="new-item-title">{{ p.title }}</span></a>
                            {% if is_granted('ROLE_ADMIN') %} <a href="{{ path('admin_publication_edit',{'id' : p.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>{% endif %}
                            <div class="new-item-anons">
                                {{ p.anons  | raw }}
                            </div>
                            <div style="color: #666; font-size: 11px;">{{ p.created | date('d.m.Y') }}</div>
                        </div>
                    {% else %}
                        <div class="col-xs-12">
                            <a href="{{ path('publications', {'url' : p.id }) }}"><span class="new-item-title">{{ p.title }}</span></a>
                            {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('admin_publication_edit',{'id' : p.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>{% endif %}
                            <div class="new-item-anons">
                                {{ p.anons  | raw }}
                            </div>
                            <div style="color: #666; font-size: 11px;">{{ p.created | date('d.m.Y') }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="text-right">
            <br />
            <a href="{{ path('category',{'categoryUrl': 'new'}) }}"><button type="button" class="btn btn-primary">Читать все новости</button></a>
        </div>

        {% if journalposts | length > 0 %}
            <br />
            <div class="title">СТАТЬИ</div>
            {% for e in journalposts |slice(0, 2) %}
                <div class="new-item">
                    <a href="{{ path('journal-post', {'journalId' : e.journal.id , 'postId': e.id }) }}"><span class="new-item-title">{{ e.title }}</span></a>
                    {% if is_granted('ROLE_ADMIN') %} <a href="{{ path('admin_journalpost_edit',{'id' : e.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>{% endif %}
                    <div class="new-item-anons">
                        {{ e.description | raw }}
                    </div>
                    <div style="color: #666; font-size: 11px;">{{ e.created | date('d.m.Y') }}</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {#<div class="col-xs-12">#}
        {#{% if educations | length > 0 %}#}
            {#<br />#}
            {#<div class="title">ОБРАЗОВАНИЕ</div>#}
            {#{% for e in educations %}#}
                {#<div class="new-item">#}
                    {#<a href="{{ path('publications', {'url' : e.id }) }}"><span class="new-item-title">{{ e.title }}</span></a>#}
                    {#<div class="new-item-anons">#}
                        {#{% if is_granted('ROLE_ADMIN') %}#}
                            {#<div class="editor">#}
                                {#<a href="{{ path('admin_publication_edit',{'id' : e.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>#}
                            {#</div>#}
                        {#{% endif %}#}
                        {#{{ e.anons  | raw }}#}
                    {#</div>#}
                    {#<div style="color: #666; font-size: 11px;">{{ e.created | date('d.m.Y') }}</div>#}
                {#</div>#}
            {#{% endfor %}#}
        {#{% endif %}#}
    {#</div>#}
{% endblock %}

{% block modal %}
    {{ parent() }}
    <!-- Modal -->
    <div class="modal fade" id="videobanner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Видео:  Евразийская Ассоциация Терапевтов</h4>
                </div>
                <div class="modal-body">
                    <iframe id="videobanneriframe" width="560" height="315" src="https://www.youtube.com/embed/TJaX-m0D9JY?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <script>
        function toggleVideo(state) {
            var iframe = document.getElementById("videobanneriframe").contentWindow;
            func = state == 'hide' ? 'pauseVideo' : 'playVideo';
            iframe.postMessage('{"event":"command","func":"' + func + '","args":""}','*');
        }

        $(document).ready(function () {
            $('#videobanner').on('hidden.bs.modal', function () {
                toggleVideo('hide');
            })
        })
    </script>
{% endblock %}