{% extends 'AppBundle::layout.html.twig' %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-3">
            {{ render(controller("AppBundle:Widget:calendar" )) }}
        </div>
        <div class="col-xs-6">
            <div class="title">ВИДЕО</div>
        </div>
        <div class="col-xs-3 text-right">
            {% include "@App/Widget/banner.html.twig" %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <div class="title">НОВОСТИ</div>
            {% for p in publications %}
                <div class="new-item">
                    <a href="{{ path('publications', {'url' : p.id }) }}"><div class="new-item-title">{{ p.title }}</div></a>
                    <div class="new-item-anons">
                        {{ p.anons | raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}