{% extends 'AppBundle::layout.html.twig' %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}
{% block content %}
        <div class="col-xs-4" style="padding-left: 0">
            {{ render(controller("AppBundle:Widget:calendar" )) }}
        </div>
        <div class="col-xs-8" style="padding-right: 0">
            {% if videos | length > 0 %}
                <div class="title">ВИДЕО</div>
                {% for v in videos %}
                    <div class="new-item">
                        <a href="{{ path('publications', {'url' : v.id }) }}"><div class="new-item-title">{{ v.title }}</div></a>
                        <div class="new-item-anons">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="editor">
                                    <a href="{{ path('admin_publication_edit',{'id' : v.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                                </div>
                            {% endif %}
                            {{ v.body | anons | raw }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if educations | length > 0 %}
                <br />
                <div class="title">ОБРАЗОВАНИЕ</div>
                {% for e in educations %}
                    <div class="new-item">
                        <a href="{{ path('publications', {'url' : e.id }) }}"><div class="new-item-title">{{ e.title }}</div></a>
                        <div class="new-item-anons">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="editor">
                                    <a href="{{ path('admin_publication_edit',{'id' : e.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                                </div>
                            {% endif %}
                            {{ e.body | anons | raw }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <br />
            <div class="title">НОВОСТИ</div>
            {% for p in publications %}
                <div class="new-item">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="editor">
                            <a href="{{ path('admin_publication_edit',{'id' : p.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                        </div>
                    {% endif %}
                    <a href="{{ path('publications', {'url' : p.id }) }}"><div class="new-item-title">{{ p.title }}</div></a>
                    <div class="new-item-anons">
                        {{ p.body | anons | raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {#<div class="row">#}
        {#<div class="col-xs-9">#}
            {##}
        {#</div>#}
    {#</div>#}
{% endblock %}