{% extends 'AppBundle::layout.html.twig' %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script src="{{ asset('assets/vendor/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.fancybox').fancybox();
        })
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/fancybox/source/jquery.fancybox.css') }}" type="text/css" media="screen" />
{% endblock %}
{% block content %}
    <h1 class="blue-text">Наши партнеры</h1>
    <br />
    {% for p in partners %}
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <a href="#content-{{ p.id }}" class="fancybox"><img src="{{ p.image.path }}" style="max-height: 150px;"></a>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="caption" style="color: #333">
                    <a href="#content-{{ p.id }}" class="fancybox" style="text-decoration: none">
                        <h3 style="color: #333; margin-top: 0">{{ p.title }}</h3>
                    </a>
                    <p style="color: #333">{{ p.shortDescription | slice(0,150) }}</p>
                    <p style="color: #333 !important;">Ссылка: <a href="{{ p.link }}">{{ p.link }}</a></p>
                </div>
            </div>
            <div style="display: none">
                <div id="content-{{ p.id }}">
                    <h2>{{ p.title }}</h2>
                    <img src="{{ p.image.path }}" style="max-height: 150px;">
                    {{ p.body | raw }}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}