{% extends 'AppBundle::layout.html.twig' %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script src="{{ asset('assets/vendor/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.fancybox').fancybox();
        })
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/fancybox/source/jquery.fancybox.css') }}" type="text/css" media="screen" />
    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
{% endblock %}
{% block content %}
    <h1 class="blue-text">Наши партнеры</h1>
    <br />
    <div>
        <div class="row">
            {% for p in partners %}
                <div class="col-xs-4 col-md-2 col-lg-2 vcenter">
                    <div class="thumbnail">
                        <a href="#content-{{ p.id }}" class="fancybox"><img src="{{ p.image.path }}" style="max-height: 150px;" title="{{ p.title }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% for p in partners %}
            <div style="display: none">
                <div id="content-{{ p.id }}">
                    <h2>{{ p.title }}</h2>
                    <img src="{{ p.image.path }}" style="max-height: 150px;">
                    {{ p.body | raw }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}