{% extends 'AppBundle::layout.html.twig' %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script src="{{ asset('assets/vendor/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.fancybox').fancybox({
                maxWidth: 500,
            });
        })
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/fancybox/source/jquery.fancybox.css') }}" type="text/css" media="screen" />
    <style>
        .vcenter {
            display: inline-block !important;
            vertical-align: middle;
            float: none;
        }
    </style>
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Главная</a></li>
        <li><a href="{{ path('page',{'url' : 'association'}) }}">Об ассоциации</a></li>
        <li class="active">Наши партнеры</li>
    </ol>
    <h1 class="blue-text">Наши партнеры</h1>
    <br />
    <div>


        <div class="row">
            {% for cats, ps in partners %}
                <br />
                <br />
                <div class="row">
                    <div class="col-xs-4 title" style="padding-left: 30px;">{{ cats }}<br /><br /></div>
                </div>
                <div class="row">
                {% for k,p in ps %}
                    {% if k % 6 == 0 %}
                        </div>
                        {#<br />#}
                        <br />
                        <div class="row">
                    {% endif %}
                    <div class="col-xs-4 col-md-2 col-lg-2 vcenter">
                        <div class="thumbnail ">
                            <a href="#content-{{ p.id }}" class="fancybox"><img src="{{ p.image.path }}" style="max-height: 150px; width: 100%; " title="{{ p.title }}"  alt="{{ p.title }}"></a>
                        </div>
                    </div>
                    <div style="display: none">
                        <div id="content-{{ p.id }}" style="text-align: left">
                            <h2 style="padding-bottom: 10px">{{ p.title }}</h2>
                            <img src="{{ p.image.path }}" style="max-height: 150px; max-width: 150px; float: left; margin-right: 20px" alt="{{ p.title }}" title="{{ p.title }}">
                            {{ p.body | raw }}
                            <br />
                            <a href="{{ p.link }}" target="_blank">{{ p.link }}</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}