{% extends 'AppBundle::layout.html.twig' %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script src="{{ asset('assets/vendor/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.fancybox').fancybox();
        })
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/fancybox/source/jquery.fancybox.css') }}" type="text/css" media="screen" />
    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
{% endblock %}

{% block seo %}
    <title>{{ prezidium.metaTitle }} </title>
    <meta name="description" content="{{ prezidium.metaDescription }}"/>
    <meta name="keywords" content="{{ prezidium.metaKeyword }}"/>
{% endblock %}

{% block content %}
    <br />
    <div>
        <div class="row">
            <div class="col-xs-4">
                <div class="thumbnail">
                    <img src="{{ prezidium.photo.path }}" alt="{{ prezidium }}" title="{{ prezidium }}"/>
                </div>
            </div>
            <div class="col-xs-8">
                <ol class="breadcrumb" style="padding: 0;">
                    <li><a href="{{ path('prezidium') }}">Президиум</a></li>
                    <li class="active">{{ prezidium.fullname }}</li>
                </ol>
                <h1 class="blue-text">{{ prezidium }}</h1>
                <p style="color: #888">{{ prezidium.post }}</p>
                <div class="description">
                    {{ prezidium.description }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}