{% extends 'AppBundle::layout.html.twig' %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script src="{{ asset('assets/vendor/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.fancybox').fancybox();
        })
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/fancybox/source/jquery.fancybox.css') }}" type="text/css" media="screen" />
    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
        .box-shadow:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
    </style>
{% endblock %}
{% block content %}
    <h1 class="blue-text">Президиум</h1>
    <br />
    <div>
        <div class="row">
            {% for p in prezidium %}
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="thumbnail box-shadow" style="height: 280px">
                        <a href="{{ path('prezidium_info',{'id' : p.id}) }}"><img src="{{ p.photo.path }}" style="height: 185px" title="{{ p.fullname }}" alt="{{ p.fullname }}"></a>
                        <div class="caption">
                            <a href="{{ path('prezidium_info',{'id' : p.id}) }}" style=" text-decoration: none">
                                <h4 style="color: #333; text-decoration: none; font-size: 16px;">{{ p.fullname }}</h4>
                            </a>
                            <p style="color: #888">
                                {{ p.post }}
                            </p>
                            {#<p>#}
                              {#{{ p.description | minidesc }}#}
                            {#</p>#}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}