{% extends 'AppBundle::layout.html.twig' %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script src="{{ asset('assets/vendor/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.fancybox').fancybox();
        })
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/fancybox/source/jquery.fancybox.css') }}" type="text/css" media="screen" />
    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
{% endblock %}

{% block seo %}
    <title>{{ prezidium.metaTitle }} </title>
    <meta name="description" content="{{ prezidium.metaDescription }}"/>
    <meta name="keywords" content="{{ prezidium.metaKeyword }}"/>
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li
            itemscope
            itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('homepage') }}"><span itemprop="title">Главная</span></a></li>
        <li
            itemscope
            itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('page',{'url' : 'association'}) }}"><span itemprop="title">Об ассоциации</span></a></li>

        <li
            itemscope
            itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('prezidium') }}"><span itemprop="title">Президиум</span></a></li>
        <li class="active">{{ prezidium.fullname }}</li>
    </ol>
    <br />
    <div>
        <div class="row">
            <div class="col-xs-4">
                <div class="thumbnail">
                    <img src="{{ prezidium.photo.path }}" alt="{{ prezidium }}" title="{{ prezidium }}"/>
                </div>
            </div>
            <div class="col-xs-8">
                <h1 class="blue-text">{{ prezidium }}</h1>
                {{ render(controller("AppBundle:Widget:seopage", {'url' : app.request.requestUri } )) }}
                <p style="color: #888">{{ prezidium.post }}</p>
                <div class="description">
                    {{ prezidium.description }}
                </div>
                <br />
                <br />
                <div class="row">
                    {% if previousPrezidium is defined and previousPrezidium != null %}
                        <div class="col-xs-6 text-left"><a href="{{ path('prezidium_info', {'id' : previousPrezidium.id}) }}">« Назад</a></div>
                    {% endif %}
                    {% if nextPrezidium is defined and nextPrezidium != null %}
                        <div class="col-xs-6 text-right"><a href="{{ path('prezidium_info', {'id' : nextPrezidium.id }) }}">Далее »</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}