{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1 class="blue-text">Поиск по запросу : <i>{{ search }}</i></h1>
    {% if events | length  == 0 and publications | length == 0 and courses | length == 0 %}
        <div style="font-size:16px ">По вашему запросу ничего не найдено</div>
    {% endif %}
    <div>
        {% for p in events %}
            <div class="new-item">
                <span style="padding-right: 20px; color: #888">
                    <span class="glyphicon glyphicon-calendar"></span>
                    {{ p.start | date('d.m.Y') }}{{ p.end != null ? '- '~p.end | date('d.m.Y') : '' }}
                </span>
                <a href="{{ path('event', {'url' : p.id }) }}"><span class="new-item-title">{{ p.title }}</span></a>
                <div class="new-item-anons">
                    {{ p.body | anons | raw }}
                    {% if p.category != null %}
                        <div style="color: #555">
                            {{ p.category.title }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        {% for p in publications %}
            <div class="new-item">
                <span style="padding-right: 20px; color: #888">
                    <span class="glyphicon glyphicon-calendar"></span>
                    {{ p.created | date('d.m.Y') }}
                </span>
                <a href="{{ path('publications', {'url' : p.id }) }}"><span class="new-item-title">{{ p.title }}</span></a>
                <div class="new-item-anons">
                    {{ p.body | anons | raw }}
                    {% if p.category != null %}
                        <div style="color: #555">
                            {{ p.category.title }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}